body{
    box-sizing: border-box;
    text-align: center;
}

.container{
    position: relative;
    box-sizing: border-box;
    background-color: #999999;
    border: #000000 solid 1px;
    margin: 2%;
}

.section_title{
    border: #000000 solid 1px;
    font-weight: bold;
    font-size: larger;
    position: relative;
    width:fit-content;
    text-align: center;
    width: 30%;
    left: 70%
}

.chicken{
    background-color: #D59898;
}

.beef{
    background-color: #C14543;
    color: white;
}

.sushi{
    background-color: #E5D198;
}

p{
   padding: 2%;
}

@media (min-width: 992px){
    
    .col-lg-4{
        float:left
    }
    .col-lg-4{
        width: 29%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-6,.col-md-12
    {
        float: left;
    }
    .col-md-6{
        width: 46%;
    }
    .col-md-12{
        width: 96%;
    }
}

@media (max-width: 767){
    body{
background-color: green;
    }
}